Source: power-meter
Section: misc
Priority: optional
Maintainer: Simon Arlott <ubuntu@sa.me.uk>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.1.4

Package: power-meter-python3
Architecture: all
Depends: ${misc:Depends}, python3 (>= 3.5.1), python3-yaml (>= 3.11), python3-tz (>= 2014.10~dfsg1), python3-tzlocal (>= 1.2)
Description: Power Meter library (Python 3)
 Library for handling Power Meter output.

Package: power-meter-client-cli
Architecture: all
Depends: ${misc:Depends}, power-meter-python3 (= ${source:Version}), python3 (>= 3.5.1), python3-numpy (>= 1:1.11.0), python3-posix-ipc (>= 0.9.8), python3-psycopg2 (>= 2.6.1), python3-rrdtool (>= 0.1.11)
Description: Power Meter client utilities (CLI)
 Applications for handling Power Meter output.

Package: power-meter-client-gui
Architecture: all
Depends: ${misc:Depends}, power-meter-python3 (= ${source:Version}), python3 (>= 3.5.1), python3-matplotlib (>= 1.5.1)
Description: Power Meter client utilities (GUI)
 Applications for handling Power Meter output.

Package: power-meter-server
Architecture: all
Depends: ${misc:Depends}, power-meter-python3 (= ${source:Version}), python3 (>= 3.5.1), python3-systemd (>= 231), python3-serial (>= 3.0.1)
Description: Power Meter server utilities
 Applications for handling Power Meter output.
