[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycryptodome = "*"
pyyaml = "*"
systemd = "*"
pytz = "*"
tzlocal = "*"
influx-client = "*"
rrdtool = "*"

[dev-packages]

[requires]
python_version = "3.6"
